:root {
  --red: #d75c6a;
  --yellow: #e0b32d;
  --green: #3ef757;
  --blue: #2d5de0;
  --pink: #fc3285;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://wallpapercave.com/wp/wp4892326.jpg") no-repeat
    center/cover;
}

.calculadora-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .calculadora-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h3 {
      color: var(--red);
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }

    .calculadora-values {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > label {
        margin-right: 0.5rem;
      }

      > input {
        width: 80%;
        border-radius: 20px;
        border: none;
        height: 1.5rem;
        padding: 0.5rem;

        &:focus {
          outline: none;
          border: 2px solid var(--blue);
        }
      }
    }
  }

  .calculadora-results {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .results-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > h4 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0.5rem 0;
        color: var(--red);
      }

      > h3 {
        font-size: 2rem;
        margin: 0;
      }
    }
  }

  .calculadora-warnings {
    padding: 0 2rem 1rem;
    > p {
      text-align: justify;
      font-size: 0.8rem;
    }
  }
}
